* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display';
}

.first {
    background-color: #1b4636;
    color: white;
    padding: 20px 200px 130px 200px;
}

.header {
    display: flex;
}

.logo {
    flex: 1;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color:white;
}

.present {
    margin-top: 100px;
    display: flex;
}

.welcome {
    font-size: 48px;
    font-weight: 1000;
    margin-bottom: 5px;
}

.subtext {
    font-size: 18px;
    margin-bottom: 10px;
}

.sign {
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #eb9c5c;
    color: white;
    border: 1px solid #eb9c5c;
    font-family: 'Playfair Display';
    font-size: 18px;
    font-weight: bold;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: 1000;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icon {
    display: flex;
    justify-content: center;
}

.barberry,
.chili,
.pepper,
.saffron {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    justify-content: center;
    gap: 8px;
    color: gray;
}

.second {
    margin-bottom: 100px;
}

.third {
    background-color: #f79a85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #fffff0;
    padding-top: 100px;
    padding-bottom: 10px;
}

.author {
    font-size: 24px;
    color: #4d602a;
    padding-bottom: 100px;
    margin-left: 575px;
}

.fourth {
    background-color: #eb9c5c;
    border-radius: 8px;
    width: 770px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    margin: 100px 200px 100px 200px;
    color: white;
    padding: 50px 100px;
}

.call {
    font-size: 24px;
    font-weight: bold;
}

.product {
    font-size: 18px;
}

.write {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.up {
    cursor: pointer;
    padding: 2px 30px;
    border-radius: 8px;
    background-color: #eb9c5c;
    color: white;
    border: 1px solid white;
    font-family: 'Playfair Display';
    font-size: 18px;
    font-weight: bold;
    flex-shrink: 0;
    width: 140px;
    height: 40px;
    margin-right: 10px;
}